body {
    background-color:#2a607c
}
a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    padding: .1rem;
    border: .1rem;
    margin: 1rem;
    display: flex;
    justify-content: flex-end;
}
.name {
    position: relative;
    top: 0;
    font-size: 48px;
    
}
.navbar {
    background-color: #2a607c;
    color: #ffffff; 
    display: flex;
    text-decoration: none;

}
.link-group {
    position:absolute;
    right: 0;
    font-size:xx-large;
    color: #fff;
    list-style: none;
    display:flex;
    justify-content: flex-end;
    text-decoration: none;
}
.My_Pic {
    width: 15%;
    background-color: #2a607c;
    border: 10px;
    padding: 20px;
}
.home{
    display: flex;
}
.section {
    display: flex;
}
.text{
    display: flex;
    justify-content: flex-end;
}
.home{
    display: flex;
    flex-direction: column;
}
h2 {
    background-color: #2a607c;
    color: #fff;
    font-size: 50px;
    border: 0px solid #2a607c;
}

.work-box{
    width: 100px;
    height: 100px;
}
.work-boxes{
   display: flex;
   justify-content: flex-end;
   border-color: black;
   margin: 25%;
}
#work1 {
    background-image: url("http://placekitten.com/200/300");
}
#work2 {
    background-image: url("http://placekitten.com/250/300");
}
#work3 {
    background-image: url("http://placekitten.com/200/350");
}
#work4 {
    background-image: url("http://placekitten.com/400/300");
}